.nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: 0.5;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo {
    height: 7vh;
    width: 8vh;
    margin-left: 3px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    align-items: center;
    align-self: end;
}

.navButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width:500px){
    .navButton{
        font-size: 15px;
    }
}

@media(max-width:350px){
    .navButton{
        font-size: 12px;
    }
}
