.videoContainer {
    position: relative;
    background-color: black;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.transition {
    height: 15vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0));
    z-index: 2;
}

.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
    margin-bottom: -4px;
    display: block;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-bottom: -4px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 1));
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    width: 100%;
}

.introText {
    color: white;
    font-size: xxx-large;
}

.croppedWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

@media (max-width: 800px) {
    .videoContainer {
        margin-block-end: 10vw;
    }
}

@media (min-width: 800px) {
    .videoContainer {
        margin-block-end: 5vw;
    }
}