.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    opacity: 0.5;
    height: fit-content;
    min-height: 30vh;
}

.footerLogo {
    height: 12vw;
    width: 12vw;
    cursor: pointer;
}

.footerTextContainer {
    display: flex;
    flex-direction: column;
}

.footerText {
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-size:20px;
}

@media(max-width: 700px){
    .footerText {
        font-size:15px;
    }
}

@media(max-width: 400px){
    .footer{
        flex-direction: column;
        padding-block: 10px;
    }
}
  